.img-text{
    position: relative;
    display: inline-block;
    text-align: center;
}

#parrafo{
    color: white;
    position: absolute;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.6);
    top: 40%;
    left: 5%;
    font-size: 2.2rem;
}

#sub{  
    text-decoration: none;
    /* font-size: 2.5rem */
}

button {
	background-color: white;
	color: #000;
}


@media all and (max-width: 1260px){
    #parrafo{
        color: white;
        position:absolute;
        text-shadow: 2px 2px 1px rgba(0,0,0,0.6);
        top: 35%;
        left: 5%;
        font-size: 1.4rem;
    }
    
    
}
@media all and (max-width: 840px){
    #parrafo{
        color: white;
        position:absolute;
        text-shadow: 2px 2px 1px rgba(0,0,0,0.6);
        top: 25%;
        left: 5%;
        /* font-size: 1rem; */
    }
    
    
}
@media all and (max-width: 600px){
    #parrafo{
        color: white;
        position:absolute;
        text-shadow: 2px 2px 1px rgba(0,0,0,0.6);
        top: 20%;
        left: 5%;
        font-size: 0.8rem;
    }
    
    
}
@media all and (max-width: 380px){
    #parrafo{
        color: white;
        position:absolute;
        text-shadow: 2px 2px 1px rgba(0,0,0,0.6);
        top: 18%;
        left: 5%;
        font-size: 0.7rem;
    }
    
    
}
main{
    background-color: #81D2DD;
}

.bg-clinica{
    background-color: #8DE5D8;
}
