main{
    /* width: 100vw;
    height: 100vh; */
    background-image: url("./../assets/fotis-fotopoulos-6sAl6aQ4OWI-unsplash.jpg");
    background-size: cover;
}
.img-equals{
    width: 400px;
    height: 400px;
}
.card{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(109, 50, 205);
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(68, 0, 255);
}
h5{
    color:rgb(162, 0, 255);
    font-size:23px;
}
.caja{
    background-color: tan;
}
.img-fluid{
    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
}
.container-fluid{
background-image:url(./../assets/fondomatrix.jpg);
background-size:cover;
}
