body{
    background-color: #8DE5D8;
}
h1{
    text-align: center;
    color: #117C6F;
    font-style: oblique;
}
h3{
    color: #117C6F;
    font-style: oblique;
}
form{
    color: #117C6F;
    font-family:'Source Sans Pro', Arial, Helvetica, sans-serif;
}
img{
    
    border-radius: 10px;
}
form{
    /* width:600x; */
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
}