*{
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; 
}
.bg-clinica{
    background-color: #8DE5D8;
}
.bg-footer{
    background-color:  #089BD3;
}
#especialidades{
    background-image: url(/assets/informe-m-dico-electr-nico-conmovedor-del-doctor-de-la-medicina-en-tableta-dna-atención-sanitaria-digitaces-y-conexión-red-154742526.jpg);
    background-size: cover;
}