*{
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif; 
}
.bg-clinica{
    background-color: #8DE5D8;
}
.bg-footer{
    background-color:  #089BD3;
}
#landing-page{
  background-image: url("../assets/Portada-Proy-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;

}
.portada {

    padding-top: 12rem;
    padding-bottom: 6rem;

  }
  
  .texto-principal {
    color: #117C6F;
    text-align: left;
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 2rem;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  
  }
  
  .texto-secundario{
    color: #117C6F;
    text-align: left;
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.5rem;
    margin-bottom: 25px;
  }



  #boton-portada:hover {
    color:white !important;
    background-color: #117C6F;
    border-radius: 40px;
  }

  #boton-ingreso:hover {
    color:white !important;
    background-color: #117C6F;
    border-radius: 40px;
  }


  @media (min-width: 768px) {
    header.portada {
      padding-top: 17rem;
      padding-bottom: 12.5rem;
    }
    header .texto-secundario {
      font-size: 2.25rem;
      font-style: italic;
      line-height: 2.25rem;
      margin-bottom: 2rem;
    }
    header .texto-principal {
      font-size: 4.5rem;
      font-weight: 700;
      line-height: 4.5rem;
      margin-bottom: 4rem;
    }

  }
  
  
#especialidades{
    background-image: url(/assets/informe-m-dico-electr-nico-conmovedor-del-doctor-de-la-medicina-en-tableta-dna-atención-sanitaria-digitaces-y-conexión-red-154742526.jpg);
    background-size: cover;
}
.img-admin{
  width: 75px;
  height: 75px;}
#background-detail{
background-image: url(/assets/background-detail-page.jpg);
background-size: cover;
}
.image-doctor {
  background-image: url(/assets/logo-back-foto-doctor.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
}
.card-effect:hover{
  
    transform: translateY(-15px);
    transition: all 0.5s ease-in-out;


}
.card-imagen{
  width: 286px;
  height: 345px;
}
.search
{
    width: 200px;
    background: none;
    border: 1px solid #117C6F;
    /* color: #117C6F; */
    border-radius: 6px;
    font-size: 1rem;
}
.search:focus {
    outline: none;
    border-color: #117C6F;
}

.buscador{
  flex-direction: column;
}
.user-cards{
  width: 204px;
 height: 36px;
 position: absolute;
 margin-top: 50px;
}
.card-buscador{
  border: 1px solid black;
  background-color: #117C6F;

}
.img-buscador{
  width: 40px;
  height: 40px;
}
.hide-buscador{
  display: none;

}

main a:hover{
  cursor: pointer;

}
/*CSS del modal para solicitar turno*/

.modal-turno{
  background-image: url(../assets/background-detail-page.jpg) !important;
  background-size: cover;


}
/*.modal-turno{
  background-image: url(../assets/background-detail-page.jpg) !important;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
}*/

.modal-header-turno, .modal-header-register, .modal-header-login{
  background-color: #8DE5D8;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-modal-header-padding);
  border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
  border-top-left-radius: var(--bs-modal-inner-border-radius);
  border-top-right-radius: var(--bs-modal-inner-border-radius);
}

.btn-detail-get-turn{
  font-size: x-large;
  border-radius: 5px;
  background-color: #8DE5D8;
  padding: 10px;
  margin-top: 10px;
  
}
  
   
.btn-modal-pedir-turno{
  font-size: large;
  border-radius: 5px;
  background-color: #8DE5D8;
  padding: 5px;
  
}

.iframe{
  border: 1px solid black;
    width: 100%;
}